@model IEnumerable<Website_Cafe.Models.SanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/_LayoutAdmin1.cshtml";
}

<h2>Quản lý sản phẩm</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table table-bordered table-striped "id="example" style="width:100%;" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenSP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaLoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anh)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenSP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MoTa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuong)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.DonGia)*@
                    <span>@string.Format("{0:#,##0}", item.DonGia)</span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaLoai)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Anh)*@
                    <img src="~/Assets/@item.Anh" width="50dp" height="50dp"/>
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.MaSP }) |
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.MaSP }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.MaSP })
                </td>
            </tr>
        }
    </tbody>
</table>
